.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.Button:hover {
    background-color: lightgreen;
    color: #222222;
}

.Button.Red{
    background-color: red;
}

.Button.Red:hover{
    background-color: salmon;
    color: black;
}